# Ignore virtual environment
venv
venv/

# Ignore environment variables file
.env

# Ignore migrations folder and files inside it, but keep __init__.py
**/migrations/*
!**/migrations/__init__.py

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore the database file
db.sqlite3